// ==========================================================================
// Recent projects carousel
// ==========================================================================
@use "../abstracts/breakpoints" as *;

.projects {
  &__head {
    display: flex;
    flex-direction: column;
    gap: var(--sp-lg);
    margin-bottom: var(--sp-2xl);

    @include respond-to(lg) {
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
    }
  }

  &__foot {
    display: flex;
    flex-wrap: wrap;
    gap: var(--sp-md);
    align-items: center;
    justify-content: space-between;
    margin-top: var(--sp-2xl);
  }
}
